@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Medium.ttf)  format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf)  format("truetype");
    font-weight: bold;
}
/*@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Black.ttf) format("truetype");
    font-weight: bolder;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: bold;
}  */


:root{
   --border: 1px solid rgb(42, 42, 42);
   --shadow-border : 10px 20px 25px #2a2a2a;
   --table-border:  3px  solid rgb(102, 102, 102);
}

body{
    font-family: "Montserrat", sans-serif;
    background-color:rgb(200, 205, 204) ;
    color: rgb(42, 42, 42);
    margin: 10px;
    padding: 10px;
}
h1{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h2{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h3{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h4{
    color: rgb(200, 205, 204);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h5{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

h6{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
a{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}
a:hover{
    font-weight: 1000;
    text-decoration: none;

}

table{
    border-collapse: collapse;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 95%;
    max-width: 1250px;
    min-height: 900px;
    color: #2a2a2a;
   /* box-shadow: var(--shadow-border); */
}

table tr{
    padding: 0.5rem;
    border: var(--table-border);
}

thead tr{
    background-color:rgb(139, 17, 4);
}
thead th{
    font-size: 25px;
    padding: 5px;
}
table  td{
    border: var(--table-border);
    padding: 0.5rem;
    text-align: center;
}

tbody tr:nth-child(even){
    background-color:rgb(114, 157, 157) ;
}

header{
    padding: 5px;
    display: grid;
    width: 100;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(42, 42, 42);
    box-shadow: var(--shadow-border);
}

.logo img{
     height: 70px;
     padding-top: 0.5rem;
}

.nav ul{
padding: 2rem;
list-style: none;
display: flex;
align-items: center;
justify-content: end;
margin: 0;
}

.nav  ul li{
    padding: 0px 20px;
}

.nav-text{
    color: rgb(200, 205, 204);

}

.container{
    width: 95%;
    max-width: 1000px;
    min-height: 1000px;
    margin:0 auto;
}

.portrait img{
    float: left;
    height: 25%;
    width: 25%;
    max-width: 35%;
    max-height: auto;
    min-width: 26%;
    min-height: 26%;
    margin: 15px;
    box-shadow: var(--shadow-border);
    border-radius:6% ;
    -webkit-border-radius:6% ;
    -moz-border-radius:6% ;
    -ms-border-radius:6% ;
    -o-border-radius:6% ;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}


.banner_title{
    font-size: 35px;
    margin-bottom: 0px;
}

.gradient_text{
    background: linear-gradient(to right, rgb(241, 4, 4),rgb(86, 19, 202),rgb(11, 61, 188));
    background-size: 250%   250%;
    animation: gradient 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color:#2a2a2a ;
    font-size: 50px;
    margin: auto;
    display: block;
    transition: color .2s ease-in-out;
    text-transform: uppercase;
    -webkit-animation: gradient 2s ease-in-out infinite;
}
.gradient_text:hover{
    color:rgba(0,0,0,0) ;
}

@keyframes gradient{
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
}

.content ul{
position: relative;
list-style: none ;
font-size: large;
margin: auto;
padding: 15px;
margin-top: 0px;
padding-top: 0px;
}

.content ul li::before{
content: "\25B6";
color: #2a2a2a;
 width: 20px;
 margin-left: -1em;
 margin-right: 5px;
 margin-top: 5px;

}
.content{
    text-align: left;
    position: relative;
}

.contact ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.contact_banner{
margin: 0px;
padding: 0px;
}

.content_end{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: var(--border);
    margin-bottom: 10px;
}

.citation_box{
    float: right;
    align-self: baseline;
    justify-self: right;
    display: inline-flex;
    border: var(--border);
    padding: 5px;
}

.quotes_icon img{
    height: 2rem;
    position: relative;
    margin-right: 5px;
}

.citation{
    font-weight: 550;
    font-size: larger;
}

.resume_container{
    position: relative;
    width: 95%;
    max-width: 1000px;
    min-height: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-self: center;
    box-shadow: var(--shadow-border);
    border-radius: 2.5%;
    -webkit-border-radius: 2.5%;
    -moz-border-radius: 2.5%;
    -ms-border-radius: 2.5%;
    -o-border-radius: 2.5%;
    overflow: hidden;
}


.left_resume{
position: relative;
background-color:rgb(139, 17, 4);
padding: 20px;
}
.right_resume{
position: relative;
padding: 20px;
background-color:rgb(114, 157, 157) ;
    }

.resume_portrait{
 position: relative;
 height: 250Px;
 margin:0 auto;
 width: 250px;
 max-width: 100%;
 max-height: 100%;
 background-color:rgb(200, 205, 204) ;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 overflow: hidden;
}
.resume_portrait img{
    position: absolute;
     top: 10px;
     right:0;
     height: 100%;
     width: 100%;
    object-fit: cover;

}
.left_head{
    position: relative;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: var(--border);

}
.resume_contact{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: var(--border);
}
.resume_contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact_icon img{
    height: 1rem;
    position: relative;
    margin-right: 2px;
}

.resume_text{
    display: inline-flex;
    margin: 0;
    padding: 0;
    font-size: larger;
    font-weight:500;
}
.resume_title{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}

.resume_education ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.resume_education{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: var(--border);
}

.resume_languages ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.resume_languages{
    margin-top: 10px;
}

.right_resume_title{
    margin: 0px;
    padding: 0;
    font-size: 35px;
    color:rgb(139, 17, 4);
}
.resume_jobs ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.resume_jobs{
    border-bottom: var(--border);
    margin-top: 10px;
    padding-bottom: 10px;
}

.resume_skills ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.resume_skills{
    margin-top: 10px;
}



@media screen and (max-width: 850px) {
    header {
      grid-template-columns: repeat(1, 1fr);

    }

    .nav ul {
      flex-direction: column;
      height: auto;
      padding: 0px;
    }

    .nav ul li {
      padding: 7px 0;
    }

    .logo {
      text-align: center;
    }
    .logo img{
        height: 70px;
   }

   .resume_container{
    grid-template-columns: repeat(1, 1fr);
    min-height: 2000px;
   }
   .portrait img{
    min-width: 45%;
    min-height: 45%;
   }

   .gradient_text{
    font-size: 45px;
    margin: au;
   }
  }
