@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Medium.ttf)  format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf)  format("truetype");
    font-weight: bold;
}
/*@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Black.ttf) format("truetype");
    font-weight: bolder;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: bold;
}  */


:root{
   --border: 1px solid rgb(42, 42, 42);
   --shadow-border : 10px 20px 25px #2a2a2a;
   --table-border:  3px  solid rgb(102, 102, 102);
   --thead-border : 3px  solid rgb(80, 11, 11);
}

body{
    font-family: "Montserrat", sans-serif;
    background-color:rgb(200, 205, 204) ;
    color: rgb(42, 42, 42);
    margin: 10px;
    padding: 10px;
    min-height: 1000px;
}
h1{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h2{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h3{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h4{
    color: rgb(200, 205, 204);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    font-family: "Montserrat", sans-serif;
}
h5{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

h6{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    
}
a{
    color: rgb(42, 42, 42);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: large;
}
a:hover{
    font-weight: 1000;
    text-decoration: none;
}

table{
   border-collapse: collapse;
   position: relative;
   margin: 0 auto;
   margin-top: 50px;
   padding: 5px;
   width: 90%;
   max-width: 1250px;
   min-height: 750px;
   color: #2a2a2a;
   box-shadow: var(--shadow-border);
   border-radius:25px ;
   -webkit-border-radius:25px ;
   -moz-border-radius:25px ;
   -ms-border-radius:25px ;
   -o-border-radius:25px ;
}



thead tr{
    padding: 5px;
    height: 75px;
    margin: 5px;
    color:rgb(80, 11, 11) ;
    font-weight: 700;
    font-size: larger;
    
}
thead th{
    font-size: 25px;
    padding: 10px;
}
table  td{
    padding: 0px;
    font-size: 17px;
    font-weight: 550;
    text-align: center;
    max-height: 250px;
    height: 75px;
    overflow: hidden;
}

tbody tr:nth-child(even){
    background-color:rgb(161, 161, 161); ;
}
.PE_class{
    background-color: rgb(210, 171, 99);
    border: var(--table-border);
}
.practice{
background-color: rgb(53, 128, 82);
border: var(--table-border);


}
.lecture{
    background-color: rgb(60, 133, 197);
    border: var(--table-border);
}
.day{
    padding: 5px;
    height: 75px;
    margin: 5px;
    border-right: var(--thead-border);
    color:rgb(80, 11, 11) ;
    font-weight: 700;
    font-size: larger;
    border-top: var(--thead-border);
}


.time{
    border-bottom: var(--thead-border);
    border-right: var(--thead-border);
}
.top_left{
    border-right: var(--thead-border);
}
.top_right{
border-bottom: var(--thead-border);
}


header{
    padding: 5px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(42, 42, 42);
    box-shadow: var(--shadow-border);
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}

footer{
    padding: 5px;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(42, 42, 42);
    box-shadow: var(--shadow-border);
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    margin-top: 200px;
}
footer p{
    color: rgb(200, 205, 204);
    font-weight: bold;
    font-size: larger;
}
.foot_copy{
    position: relative;
    margin: 0 auto;
    width: fit-content;
}

.logo img{
     height: 70px;
     padding-top: 0.5rem;
}

.nav ul{
padding: 2rem;
list-style: none;
display: flex;
align-items: center;
justify-content: end;
margin: 0;
}

.nav  ul li{
    padding: 0px 20px;
}

.nav-text{
    color: rgb(200, 205, 204);
}

.active{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgb(139, 17, 4);
    -moz-text-decoration-color: rgb(139, 17, 4);
}

.image_box{
    width: 95%;
    max-width: 1000px;
    margin:0 auto;
    padding-top:75px;
    position: relative;
}

.image_container{
min-height: 850px;
margin: 0 auto;
position: relative;
}


.mobo_image img{
    position: relative;
    width: 75%;
    transform: translateX(15%) ;
    -webkit-transform: translateX(15%) ;
    -moz-transform: translateX(15%) ;
    -ms-transform: translateX(15%) ;
    -o-transform: translateX(15%) ;
}

.cpu_dot img {
    z-index: 10;
    height: 30px;
    position: absolute  ;
    top:45.7%;
    right: 47%;
    transform: translate(-5%, -5%);
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
}
.ram_dot img {
    z-index: 10;
    height: 30px;
    position: absolute  ;
    top:49.3%;
    right:22%;
    transform: translate(-5%, -5%);
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
}

.ssd_dot img {
    z-index: 10;
    height: 30px;
    position: absolute  ;
    top:84%;
    right: 45%;
    transform: translate(-5%, -5%);
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
}

.pcie_dot img {
    z-index: 10;
    height: 30px;
    position: absolute  ;
    top:93.5%;
    right:47%;
    transform: translate(-5%, -5%);
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
}

.VRM_dot img {
    z-index: 10;
    height: 30px;
    position: absolute  ;
    top:17.3%;
    right:53%;
    transform: translate(-5%, -5%);
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
}
.cpu_dot :hover + .pop-up{
    display: block;
    position: absolute;
    top:50%;
    right: 35%;
   
}

.ram_dot :hover  + .pop-up{
    display: block;
    position: absolute;
    top:53.5%;
    right:15.3%;


}
.ssd_dot :hover  + .pop-up{
    display: block;
    position: absolute;
    top:60.7%;
    right: 33.5%;
}

.pcie_dot :hover  + .pop-up{
    display: block;
    position: absolute;
    top:76.5%;
    right:50.4%;

}
.VRM_dot :hover  + .pop-up{
    display: block;
    position: absolute;
    top:11.3%;
    right:24.5%;

}

.pop-up{
          display: none;
          font-weight: 700;
          height: fit-content;
          width: 250px;
          backdrop-filter: blur(9px);
          background-color: rgba(42,42,42, 0.7);
          padding: 7px;
          padding-top: 0px;
          border-radius:30px;
          -webkit-border-radius:30px;
          -moz-border-radius:30px;
          -ms-border-radius:30px;
          -o-border-radius:30px;
}

.pop-up p{
    font-size: large;
    color: rgb(25, 224, 10);
}

.pop-up h3{
    font-size: larger;
    color: rgb(200, 205, 204);
}

.container{
    width: 95%;
    max-width: 1000px;
    min-height: 1000px;
    margin:0 auto;
    margin-top: 50px;
}

.portrait img{
    float: left;
    height: 25%;
    width: 25%;
    max-width: 35%;
    min-width: 26%;
    min-height: 26%;
    margin: 15px;
    margin-left: 0px;
    box-shadow: var(--shadow-border);
    border-radius:6% ;
    -webkit-border-radius:6% ;
    -moz-border-radius:6% ;
    -ms-border-radius:6% ;
    -o-border-radius:6% ;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}


.banner_title{
    font-size: 35px;
    margin-bottom: 0px;
}

.gradient_text{
    background: linear-gradient(to right, rgb(241, 4, 4),rgb(86, 19, 202),rgb(11, 61, 188));
    background-size: 250%   250%;
    animation: gradient 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color:#2a2a2a ;
    font-size: 50px;
    margin: auto;
    display: block;
    transition: color .2s ease-in-out;
    text-transform: uppercase;
    -webkit-animation: gradient 2s ease-in-out infinite;
}
.gradient_text:hover{
    color:rgba(0,0,0,0) ;
}

@keyframes gradient{
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
}

.content ul{
position: relative;
list-style: none ;
font-size: large;
margin: auto;
padding: 15px;
margin-top: 0px;
padding-top: 0px;
}

.content ul li::before{
content: "\25B6";
color: #2a2a2a;
 width: 20px;
 margin-left: -1em;
 margin-right: 5px;
 margin-top: 5px;

}
.content{
    text-align: left;
    position: relative;
}

.contact ul{
    list-style: none;
    padding:0px;
    padding-top: 5px;
    margin: 0 auto;
    position: relative;
}
.contact ul li {
    padding-bottom: 5px;
    font-weight: bolder;
}




.contact_banner{
margin: 0px;
padding: 0px;
}

.content_end{
    border-bottom: var(--border);
    margin-bottom: 10px;
}

.citation_box{
    float: right;
    align-self: baseline;
    justify-self: right;
    display: inline-flex;
    border: var(--border);
    padding: 5px;
}

.quotes_icon img{
    height: 2rem;
    position: relative;
    margin-right: 5px;
}

.citation{
    font-weight: 550;
    font-size: larger;
}

.resume_container{
    position: relative;
    width: 95%;
    max-width: 1000px;
    min-height: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-self: center;
    box-shadow: var(--shadow-border);
    border-radius:25px ;
   -webkit-border-radius:25px ;
   -moz-border-radius:25px ;
   -ms-border-radius:25px ;
   -o-border-radius:25px ;
    overflow: hidden;
}
.left_resume{
position: relative;
background-color:rgb(139, 17, 4);
padding: 20px;
}
.right_resume{
position: relative;
padding: 20px;
background-color:rgb(114, 157, 157) ;
    }

.resume_portrait{
 position: relative;
 height: 250Px;
 margin:0 auto;
 width: 250px;
 max-width: 100%;
 max-height: 100%;
 background-color:rgb(200, 205, 204) ;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 overflow: hidden;
}
.resume_portrait img{
    position: absolute;
     top: 10px;
     right:0;
     height: 100%;
     width: 100%;
    object-fit: cover;

}
.left_head{
    position: relative;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: var(--border);

}
.resume_contact{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: var(--border);
}
.resume_contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact_icon img{
    height: 1rem;
    position: relative;
    margin-right: 2px;
}
.left_resume a{
    font-weight: bold;
}
.left_resume p{
    font-weight: bold;
}
.resume_text{
    display: inline-flex;
    margin: 0;
    padding: 0;
    font-size: larger;
    font-weight:500;
}
.resume_title{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}

.resume_education ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.resume_education{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: var(--border);
}

.resume_languages ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.resume_languages{
    margin-top: 10px;
}

.right_resume_title{
    margin: 0px;
    padding: 0;
    font-size: 35px;
    color:rgb(139, 17, 4);
}
.resume_jobs ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.resume_jobs{
    border-bottom: var(--border);
    margin-top: 10px;
    padding-bottom: 10px;
}

.resume_skills ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.resume_skills{
    margin-top: 10px;
}

.schedule_container{
    min-height: 1000px;
    position: relative;
    margin: 0 auto;
}
@media screen and (max-width: 1420px) {
    table thead tr{
        display: none;
    }

    tbody tr:nth-child(even){
        background-color:rgb(200, 205, 204); 
    }
    table tr{
        display: block;
    }
    table td{
        padding: 5px;
        text-align: right;
        display: block;
        font-size: 30px;
    }
    table th{
        padding: 5px;
    }
    table td::before{
        content: attr(data-title) ;
        float: left;
    }
    .day{
        border-right: none;
        border-top: none;
        font-size: 30px;
    }
    .ending{
        height: 15px;
        padding: 0px;
        margin: 0px;
        background-color:rgb(139, 17, 4);
    }
    .empty{
        background-color:rgb(114, 157, 157);
    }
    .ending_week{
        display: none;
    }
    .lecture{
        border: none;
    }
    .practice{
        border: none;
    }
    .PE_class{
        border: none;
    }
    }

@media screen and (max-width: 1055px) {
    .cpu_dot :hover + .pop-up{
        width: 80%;
        position: absolute;
        top: 102%;
        right:  8%;
    }

    .ram_dot :hover + .pop-up {
        width: 80%;
        position: absolute;
        top: 102%;
        right:  8%;
    }
    .ssd_dot :hover + .pop-up{
        width: 80%;
        position: absolute;
        top: 102%;
        right:  8%;
    }

    .pcie_dot :hover + .pop-up{
        width: 80%;
        position: absolute;
        top: 102%;
        right:  8%;
    }
    .VRM_dot :hover + .pop-up{
        width: 80%;
        position: absolute;
        top: 102%;
        right:  8%;
    }
}


@media screen and (max-width: 1050px) {
    body{
        min-height: 1250px;
    }
    header {
      grid-template-columns: repeat(1, 1fr);
    }
    header a{
        font-size: 25px;
    }

    .nav ul {
      flex-direction: column;
      height: auto;
      padding: 0px;
    }

    .nav ul li {
      padding: 7px 0;
    }
    .logo{
        text-align: center;
    }
    
    .logo img{
        height: 70px;
        width: 225px;
   }

   .resume_container{
    grid-template-columns: repeat(1, 1fr);
    min-height: 2000px;

   }
   .portrait img{
    min-width: 45%;
    min-height: 45%;
   }

   .gradient_text{
    font-size: 40px;
    margin: auto;
   }
    
    .image_box{
 width: 130%;
 max-width: none;
 transform: translate(-12%,0%);
 -webkit-transform: translate(-12%,0%);
 -moz-transform: translate(-12%,0%);
 -ms-transform: translate(-12%,0%);
 -o-transform: translate(-12%,0%);
}
    .cpu_dot img {
        height: 17px;
        transform: translate(0%,80%);
        -webkit-transform: translate(0%,80%);
        -moz-transform: translate(0%,80%);
        -ms-transform: translate(0%,80%);
        -o-transform: translate(0%,80%);
}
    .ssd_dot img {
        height: 17px;
        transform: translate(5%,-25%);
        -webkit-transform: translate(5%,-25%);
        -moz-transform: translate(5%,-25%);
        -ms-transform: translate(5%,-25%);
        -o-transform: translate(5%,-25%);
    }
    .ram_dot img {
        height: 17px;
        transform: translate(-25%,90%);
        -webkit-transform: translate(-25%,90%);
        -moz-transform: translate(-25%,90%);
        -ms-transform: translate(-25%,90%);
        -o-transform: translate(-25%,90%);
}
    .pcie_dot img {
        height: 17px;
        transform: translate(5%,25%);
        -webkit-transform: translate(5%,25%);
        -moz-transform: translate(5%,25%);
        -ms-transform: translate(5%,25%);
        -o-transform: translate(5%,25%);
}
    .VRM_dot img {
        height: 17px;
        transform: translate(-15%,125%);
        -webkit-transform: translate(-15%,135%);
        -moz-transform: translate(-15%,125%);
        -ms-transform: translate(-15%,125%);
        -o-transform: translate(-15%,125%);
}

    .cpu_dot :hover + .pop-up{
        width: 80%;
        position: absolute;
        top: 102%;
        right:  8%;
    }
    
    .ram_dot :hover + .pop-up {
        width: 80%;
        position: absolute;
        top: 102%;
        right:  8%;
    }
    .ssd_dot :hover + .pop-up{
        width: 80%;
        position: absolute;
        top: 102%;        
        right:  8%;
    }
    
    .pcie_dot :hover + .pop-up{
        width: 80%;
        position: absolute;
        top: 102%;
        right:  8%;
    }
    .VRM_dot :hover + .pop-up{
        width: 80%;
        position: absolute;
        top: 102%;
        right:  8%;
    }

    footer{
        margin-top: 70px;
    }
  }
